table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
  }
  table th, table td {
    border: none;
    padding: 8px;
    text-align: left;
    
  }

  .tbrows{
    color: blue;
    text-decoration: underline;
  }